<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mad18.nullpointerexception.takeabook">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.camera2" android:required="false"/>
    <uses-feature android:name="android.hardware.camera2.autofocus" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mad18.nullpointerexception.takeabook.LoginActivity" />
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity >
        <activity
            android:name="com.mad18.nullpointerexception.takeabook.addBook.AddBook">
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            android:configChanges="orientation|screenSize|locale"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".addBook.ScanBarcode"
            android:theme="@style/AppTheme"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.mad18.nullpointerexception.takeabook.mainActivity.MainActivity"
            android:parentActivityName="com.mad18.nullpointerexception.takeabook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize|locale">
        </activity>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.mad18.nullpointerexception.takeabook.LoginActivity"/>
        <activity
            android:name="com.mad18.nullpointerexception.takeabook.myProfile.showProfile"
            android:parentActivityName="com.mad18.nullpointerexception.takeabook.mainActivity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"> <!--android:label="@string/title_activity_show_profile"-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mad18.nullpointerexception.takeabook.mainActivity.MainActivity"/>
        </activity>
        <activity android:name="com.mad18.nullpointerexception.takeabook.myProfile.editProfile"
            android:parentActivityName="com.mad18.nullpointerexception.takeabook.myProfile.showProfile"
            android:label="@string/app_name"
            ><!--android:label="@string/title_activity_edit"-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mad18.nullpointerexception.takeabook.myProfile.showProfile"/>
        </activity>
    </application>
</manifest>