<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mad18.nullpointerexception.takeabook">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera2.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_library"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_library"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAX0qLWR3K8pCLAv89Yc2wm-Sr_USNn6VM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mad18.nullpointerexception.takeabook.LoginActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainActivity.MainActivity"
            android:configChanges="orientation|screenSize|locale"
            android:label="@string/app_name"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mad18.nullpointerexception.takeabook.LoginActivity" />
        </activity>
        <activity
            android:name=".AddBook"
            android:configChanges="orientation|screenSize|locale"
            android:label="@string/add_a_book"
            android:parentActivityName=".mainActivity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mad18.nullpointerexception.takeabook.mainActivity.MainActivity" />
        </activity>
        <activity
            android:name=".util.ScanBarcode"
            android:label="@string/app_name"
            android:parentActivityName=".AddBook"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mad18.nullpointerexception.takeabook.AddBook" />
        </activity>
        <activity
            android:name=".myProfile.showProfile"
            android:label="@string/app_name"
            android:parentActivityName=".mainActivity.MainActivity"
            android:theme="@style/AppTheme"> <!-- android:label="@string/title_activity_show_profile" -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mad18.nullpointerexception.takeabook.mainActivity.MainActivity" />
        </activity>
        <activity
            android:name=".myProfile.editProfile"
            android:label="@string/app_name"
            android:parentActivityName=".myProfile.showProfile"> <!-- android:label="@string/title_activity_edit" -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mad18.nullpointerexception.takeabook.myProfile.showProfile" />
        </activity>
        <activity
            android:name=".searchBook.SearchBook"
            android:parentActivityName=".mainActivity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"> <!-- android:label="@string/title_activity_show_profile" -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mad18.nullpointerexception.takeabook.mainActivity.MainActivity" />
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:parentActivityName=".mainActivity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"> <!-- android:label="@string/title_activity_show_profile" -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mad18.nullpointerexception.takeabook.mainActivity.MainActivity" />
        </activity>
        <activity
            android:name=".info.InfoBook"
            android:configChanges="orientation|screenSize|locale"
            android:label="InfoBook"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".searchBook.BookFound" />
        <activity
            android:name=".info.InfoUser"
            android:screenOrientation="portrait" />
        <activity android:name=".displaySearchOnMap.DisplaySearchOnMap" />
        <activity android:name=".searchBook.Book_generic_info" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".mainActivity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mad18.nullpointerexception.takeabook.mainActivity.MainActivity" />
        </activity>
        <activity
            android:name=".chatActivity.ListOfChatActivity"
            android:label="@string/title_activity_list_of_chat"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mainActivity.MainActivity" />
        </activity>
        <activity
            android:name=".chatActivity.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chatActivity.ListOfChatActivity" />

            <intent-filter>
                <action android:name="ChatActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".info.InfoUserShowBooks"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mad18.nullpointerexception.takeabook.info.InfoUser" />
        </activity>

        <!-- Algolia - SearchBook -->

        <activity android:name=".searchBook.SearchBookAlgolia" />
        <activity android:name=".searchBook.SearchBook_BarcodeScanner" />

        <!-- Request a book + loan management -->

        <activity
            android:name=".requestBook.RequestBook"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mad18.nullpointerexception.takeabook.info.InfoBook" />
        </activity>
        <activity
            android:name=".requestBook.RequestList"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mad18.nullpointerexception.takeabook.mainActivity.MainActivity" />
        </activity>
        <activity
            android:name=".requestBook.ShowRequest"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mad18.nullpointerexception.takeabook.requestBook.RequestList" />
        </activity>

        <!-- FCM -->

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name=".chatActivity.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".chatActivity.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".requestBook.RequestReview" />
        <activity android:name=".EditBook"></activity>
    </application>

</manifest>